<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Battle Arena</title>
</head>
<body style="background-color:white;font-family: Calibri; "><center>
        <h1><b>
            <img src="https://cdn.bulbagarden.net/upload/3/3c/Season8_logo.png" alt="Pokemon">
        </b></h1>
            <form action="http://localhost:5000/fight" method="post">
            <p>
                <input name="first_pokemon" type="text" placeholder="Nama Pokemon 1" required>&nbsp;VS&nbsp;<input name="second_pokemon" type="text" placeholder="Nama Pokemon 2" required></p>
            <p>
                <input type="submit" value="Fight!">
            </p>
            </form>
        </center>
</body>
</html>